<p id="notice"><%= notice %></p>

<p>
  <strong>Anchor hyperlink reference:</strong>
  <%= @lenticular.anchor_hyperlink_reference %>
</p>

<%= link_to 'Edit', edit_admin_lenticular_path(@lenticular) %> |
<%= link_to 'Back', admin_lenticulars_path %>
