<footer>
  <p><a href="mailto:thutranthutran@gmail.com">thutranthutran@gmail.com</a></p>
</footer>
  <a id="instructions-toggle">?</a>

<div id="instructions">
  scroll to animate
  <br>
  press *spacebar* to toggle autoplay
</div>