html {
  background: $white;
  color: $black;
  font: medium "Verdana", sans-serif;
}

body {
  margin: 0 100px;
}

a:link {
  color: deepSkyBlue;
}
a:visited {
  color: fuchsia;
}

a.vanity {
  text-decoration: none;
}

label[for] {
  cursor: pointer;
}

.button,
.button:link,
.button:visited {
  background: $black;
  border: 2px solid $black;
  color: $white;
  display: inline-block;
  font-size: smaller;
  padding: 0.5em 1.5em;
  text-decoration: none;
  transition-duration: $slow;
  &:hover {
  background: $white;
  color: $black;
  transition-duration: $fast;
  }
  &.edit:before {
    content: "\2254";
    font-size: xx-large;
  }
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
}

header {
  font-size: x-small;
  padding: 8px;
  text-align: right;
}

#content {
  // min-height: calc(100vh - 16px);
  overflow: hidden;
  padding: 8px;
}

form {
  .actions {
    text-align: center;
  }
}

.field {
  margin: 1em 0;
}

input {
  // margin: 1em;
}

table {
  margin: 1em auto;
  width: 100%;
}

td.center {
  text-align: center;
}